<!-- This is the landing/intro page for my game -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peril Quest - Start</title>
    <link rel="stylesheet" href="../static/js/style.css">
    
</head>

<body>
    <header>
        <h1>The Broken RAM - A Simulated Adventure.</h1>
        <section id="scores" class="hidden">
            <h2>Scores</h2>
            <p>Skill: <span id="skillScore">0</span></p>
            <p>Luck: <span id="luckScore">0</span></p>
            <p>Stamina: <span id="staminaScore">0</span></p>
            
        </section>
    </header>
    
     

      <p id="intro"></p>
      
       
      <h2></h2>
    <!-- Initially hide the "Start Adventure" button -->
    <button id="startButton" style="display: none;" onclick="window.location.href='/roll'">Start Adventure</button>


    
 <footer>
    <!-- Add any footer content or copyright information here -->
    <h2>The game was developed by Peddleboy Copyright (c) 2023 of Auspicious Adventures</h2>
</footer> 


<script src="{{ url_for('static', filename='js/intro.js') }}"></script>
</body>
</html>

