<!-- This page contains the second set of mission info -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peril Quest - Game</title>
    <link rel="stylesheet" href="../static/js/style.css">

</head>


<body>
    <header>
        <h1>Peril Quest - Stage 1</h1>
        <section id="scores" class="hidden">
            <h2>Scores</h2>
            <p>Skill: <span id="skillScore">0</span></p>
            <p>Luck: <span id="luckScore">0</span></p>
            <p>Stamina: <span id="staminaScore">0</span></p>
            
        </section>
        <!-- Add a description or title for the current game stage -->

    
    </header>
    
      <p id="intro"></p>
        

        <!-- Display the message and a "Continue" button -->
        <section id="scoreMessage" style="display: none;">
            <div class="score-text">
                <p>Below are your initial scores!</p>
            </div>
            <div class="score-button">
                
                <button id="continueButton" type="button" onclick="continueToGame()">Continue</button>
            </div>
        </section>
        
        
        <section>
            <h2 id="diceRollerTitle" style="display: none;">Dice Roller</h2>
            <div id="diceResults" style="display: none;"></div>
            <button id="diceRollerButton" style="display: none;" type="button" onclick="introRollDice()">Roll</button>

        </section>
        
        



    <footer>
        <h2>The game was developed by Peddleboy Copyright (c) 2023 of Auspicious Adventures</h2>
    </footer>
    
<script src="{{ url_for('static', filename='js/roll2.js') }}"></script>
</body>
</html>
